{{define "header"}}
<header>
  <nav>
    <a href="/">
      <img src="/static/assets/bloggo.webp" width="64" height="64" />
      <span>Bloggo</span></a
    >
    <ul>
      <li><a href="/documents">Docs</a></li>
      <li>
        <a href="https://github.com/Elagoht/bloggo/" target="_blank">Code</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector("header");
    const scrollThreshold = 64;
    const handleScroll = () => {
      const currentScroll = window.scrollY;
      if (currentScroll > scrollThreshold) header.classList.add("scrolled");
      else header.classList.remove("scrolled");
    };
    handleScroll();
    window.addEventListener("scroll", handleScroll);
  });
</script>
{{end}}
