{{define "home.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloggo - Headless Blog CMS</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div id="light-layer-wrapper">
      <div id="light-layer">
        <div></div>
        <span></span>
        <div></div>
        <span></span>
        <div></div>
      </div>
    </div>

    {{template "header" .}}

    <main>
      <section id="hero">
        <h1>Your CMS, in One File</h1>

        <ul>
          <li>📦 20MB Binary</li>
          <li>🚀 ~4.9–20MB RAM</li>
          <li>⚡ &lt;1s Start</li>
          <li>🔒 0 Dependencies</li>
          <li>🔋 Batteries Included</li>
        </ul>

        <p>
          Headless CMS in a single 20MB binary. No DB configuration, no Node.js
          runtime. Includes AI, analytics, workflows.
        </p>

        <nav>
          <a
            class="secondary-cta"
            href="https://github.com/Elagoht/bloggo/"
            target="_blank"
          >
            Source Code
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"
              />
            </svg>
          </a>

          <a
            class="cta"
            href="https://github.com/Elagoht/bloggo/releases/"
            target="_blank"
          >
            Start Now
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </nav>

        <div id="supported-platforms">
          <span>Supported platforms</span>
          <ul>
            <li>🐧 Linux x86_64</li>
            <li>🐧 Linux aarch64</li>
            <li>🍎 macOS Apple Silicon</li>
            <li>🍎 macOS Intel</li>
          </ul>
        </div>

        <picture>
          <source
            srcset="/static/assets/hero-dark.webp"
            media="(prefers-color-scheme: dark)"
          />
          <source
            srcset="/static/assets/hero.webp"
            media="(prefers-color-scheme: light)"
          />
          <img
            src="/static/assets/hero.webp"
            width="1280"
            height="720"
            alt="Hero"
          />
        </picture>
      </section>

      <section id="cons-of-others">
        <h2>Posting Shouldn't Be Hard.</h2>

        <p>We don't have:</p>

        <ul>
          <li>
            <figure>⚙️</figure>
            <strong>Setup Hell</strong>
            <span>DBs, servers, endless installs</span>
          </li>

          <li>
            <figure>💸</figure>
            <strong>Cost Overhead</strong>
            <span>DevOps teams, cloud bills</span>
          </li>

          <li>
            <figure>🧩</figure>
            <strong>Missing Tools</strong>
            <span>No built-in AI, logs, or workflows</span>
          </li>
        </ul>
      </section>

      <section id="one-binary">
        <h2>One Binary. All Features.</h2>

        <ul>
          <li>
            <figure>😌</figure>
            <div>
              <strong>Easy Deploy</strong>
              <span>Download, run, done</span>
            </div>
          </li>

          <li>
            <figure>🤖</figure>
            <div>
              <strong>AI Help</strong>
              <span>Auto-titles, SEO, categories</span>
            </div>
          </li>

          <li>
            <figure>📊</figure>
            <div>
              <strong>Analytics</strong>
              <span>Views, devices, authors—built-in</span>
            </div>
          </li>

          <li>
            <figure>✅</figure>
            <div>
              <strong>Workflows</strong>
              <span>Versions, approvals, rollbacks</span>
            </div>
          </li>

          <li>
            <figure>🪝</figure>
            <div>
              <strong>Webhooks</strong>
              <span>Integrate Slack, deploys</span>
            </div>
          </li>

          <li>
            <figure>🛡️</figure>
            <div>
              <strong>Security</strong>
              <span>Audit logs, roles, JWT</span>
            </div>
          </li>
        </ul>
      </section>

      <section id="base-features">
        <h2>Everything You Need.</h2>

        <ul id="feature-wheel">
          <li>
            <figure>📝</figure>
            <span> Markdown Editor</span>
          </li>

          <li>
            <figure>🔏</figure>
            <span> Role Based Access Control</span>
          </li>

          <li>
            <figure>👥</figure>
            <span> Multiple Users</span>
          </li>

          <li>
            <figure>📡</figure>
            <span> External REST API</span>
          </li>

          <li>
            <figure>💾</figure>
            <span> Auto Generated SQLite</span>
          </li>

          <li>
            <figure>📑</figure>
            <span> Audit Logs</span>
          </li>

          <li>
            <figure>⏪</figure>
            <span> Versions & Rollbacks</span>
          </li>

          <li>
            <figure>🏷️</figure>
            <span> Categories & Tags</span>
          </li>
        </ul>

        <img src="/static/assets/gopher-reads.png" width="96" height="96" />
      </section>

      <section id="how-to-run">
        <h2>How To Run</h2>

        <ul>
          <li data-step="1">
            <span><strong>Download:</strong> release binary</span>
          </li>

          <li data-step="2">
            <span>
              <strong>Configure:</strong> Set environment variables (JWT key,
              Gemini API key etc.)
            </span>
          </li>

          <li data-step="3">
            <span><strong>Run:</strong> <code>./bloggo</code></span>
          </li>

          <li data-step="🎉">
            <div>
              <strong>Login to default user</strong><br />
              📧 root@admin.dev<br />
              🔒 ChangeMeNow123!
            </div>
          </li>
        </ul>
      </section>

      <section id="why-bloggo">
        <h2>Why Bloggo</h2>

        <div class="compare-table">
          <div class="row header">
            <div class="cell feature">Feature</div>
            <div class="cell bloggo">Bloggo</div>
            <div class="cell others">Ghost/WP/Strapi</div>
          </div>

          <div class="row">
            <div class="cell feature">Setup</div>
            <div class="cell bloggo">⚡ 2 min</div>
            <div class="cell others">🐌 15+ min</div>
          </div>

          <div class="row">
            <div class="cell feature">Size</div>
            <div class="cell bloggo">⬇️ 25MB</div>
            <div class="cell others">⬆️ 100MB+</div>
          </div>

          <div class="row">
            <div class="cell feature">Dependencies</div>
            <div class="cell bloggo">❌ 0</div>
            <div class="cell others">🔗 Many</div>
          </div>

          <div class="row">
            <div class="cell feature">AI</div>
            <div class="cell bloggo">✅ Built-in</div>
            <div class="cell others">🔌 Plugin</div>
          </div>

          <div class="row">
            <div class="cell feature">Analytics</div>
            <div class="cell bloggo">✅ Built-in</div>
            <div class="cell others">💰 Paid</div>
          </div>

          <div class="row">
            <div class="cell feature">License</div>
            <div class="cell bloggo">🆓 GPL</div>
            <div class="cell others">❓ Varies</div>
          </div>
        </div>
      </section>

      <section id="get-started">
        <h2>Getting Started</h2>

        <nav>
          <a
            class="cta"
            href="https://github.com/Elagoht/bloggo/releases/"
            target="_blank"
          >
            Download Now
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"
              />
            </svg>
          </a>

          <a
            class="secondary-cta"
            href="https://github.com/Elagoht/bloggo/"
            target="_blank"
          >
            Source Code
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"
              />
            </svg>
          </a>

          <a class="secondary-cta" href="/documents"
            >Docs<svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="M320-440h320v-80H320v80Zm0 120h320v-80H320v80Zm0 120h200v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
              />
            </svg>
          </a>
        </nav>

        <ul>
          <li>⚖️ GPLv3</li>
          <li>✅ Production-ready</li>
          <li>🫂 Join the community</li>
        </ul>
      </section>
    </main>

    {{template "footer" .}}
  </body>
</html>
{{end}}
