{{define "post.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documents - Bloggo</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    {{template "header" .}}

    <div>
      {{template "sidebar" .}}

      <main>
        <article>
          <h1>{{.Post.Title}}</h1>

          {{.HTMLContent}}
        </article>
      </main>
    </div>

    {{template "footer" .}}
  </body>
</html>
{{end}}
